lib/i18n/translations*.g.dart linguist-generated
**/*.mocks.dart linguist-generated
**/*.mapper.dart linguist-generated
**/generated_plugins.cmake linguist-generated
android/app/src/main/res/values*/widget_plurals.xml linguist-generated
android/app/src/main/res/values*/widget_strings.xml linguist-generated
ios/HrtWidget/WidgetTranslations.json linguist-generated
pubspec.lock linguist-generated
